
/* Drop Down Styles
================================ */
.drop-down {
    list-style: none; 
    overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
    height: auto; 
    background-color: #E9E9E9;
    font-size: 1.1em;
    width:8em;
    margin-left:11em;
    margin-top: 0.4em;
    display:block;
    position:absolute;
    padding: 0;
    z-index: 99;
    border-top-left-radius:  0.25em;
    border-top-right-radius:  0.25em;
  
  
    -webkit-transition: height 0.3s ease;
            transition: height 0.3s ease;
  }
  
  .drop-down.closed {
    /*  When toggled via jQuery this class will reduce the height of the ul which inconjuction
        with overflow: hidden set on the ul will hide all list items apart from the first */
    /* current li height 38px + 5px border */
    height: 25px;
    border-radius: 0.25em;
  }
  
  
  .drop-down li a {
    display: block;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    padding: 2px; /* Larger touch target area */
  }
  
  .drop-down li:first-child a:after {
    content: "\25BC";
    float: right;
    margin-left: -30px; /* Excessive -margin to bring link text back to center */
    margin-right: 5px;
  }
  
  
  
  .drop-down li:not(:first-child) a:hover{
    background-color: #b4b4b4;
  }
  
  
  